@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Plus Jakarta Sans', system-ui, -apple-system, sans-serif;
  color-scheme: dark;
}

/* Custom Sleek Dark Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #141211;
}

::-webkit-scrollbar-thumb {
  background: #292524;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #44403c;
}
